body{
    background-color:lightgray;

}
h1{
    font-size: 300%;
    color: black;
    text-align:center;
    font-family: 'Bookman Old Style';
}
h2{
    font-size: 200%;
    color:black;
    font-family:'Bookman Old Style';
}
p {
    font-size: 100%;
    font-family: Verdana;
    text-align:left;
}

