body{
    background-color:lightgray;

}
h1{
    font-size: 300%;
    color: black;
    text-align:center;
    font-family: 'Bookman Old Style';
}
h2{
    font-size: 200%;
    color:black;
    font-family:'Bookman Old Style';
}
#aboutme {
    font-size: 100%;
    font-family: Verdana;
    text-align: left;
    background-color: yellowgreen;
    color: darkolivegreen;
    font-weight:bold;
    width: 40%;
    height: 70%;
    padding: 10px;
    
   
    transition-property: width, height, font-size, font-weight, background-color;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
    transition-delay: 0s;
}

img {
    width: 200px;
    height: auto;
      
}


   
#quote{
    float:right;
    font-size: 100%;
    font-weight:bold;
    position:center;
    font-family: veranda;
}


