body {
    background-color: lightseagreen;
}

h1 {
    font-size: 300%;
    color: black;
    text-align: center;
}
a{
    text-decoration:none;
    color: black;
}
a:visited{
    text-decoration:none;
}
a:hover{
    color:blue;
}
img {
    
    padding: 40px;
    width: 25%;
    height: 25%;
    float: left;
}

#AboutMe {
    padding: 12px;
    width:18%;
    float:left;
    background-color:white;
   
}

#EmpHistory {
    padding: 12px;
    width:18%;
    float:left;
    background-color:white;
    
}

#Projects {
    padding: 12px;
    width:18%;
    float:left;
    background-color:white;
    
}

#SkillSet {
    padding: 12px;
    width: 35%;
    float: left;
    background-color: white;
}
#text{
    padding:20px;
    margin: 10px;
    line-height: 20px;
    font-size:150%;
    float:right;
    font-weight:bold;
}
