body {
    background-color: teal;
}

h1 {
    font-size: 300%;
    color: black;
    text-align: center;
}
h2{
    font-size:150%;
    float:right;
}
a{
    text-decoration:none;
    color: black;
}
a:visited{
    text-decoration:none;
}
a:hover{
    color:blue;
}
img {
    
    padding: 40px;
    width: 25%;
    height: 25%;
    float: left;
    display:block;
    background-color:black;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
}


#AboutMe {
    padding: 12px;
    width:18%;
    float:left;
    background-color:white;
    font-size: 20px;
    font-family:Impact;
   
}
#AboutMe:hover{
    background-color:gray;
}

#EmpHistory {
    padding: 12px;
    width:18%;
    float:left;
    background-color:white;
    font-size:20px;
    font-family:Impact;
    
}
#EmpHistory:hover{
    background-color:gray;
}

#Projects {
    padding: 12px;
    width:18%;
    float:left;
    background-color:white;
    font-size:20px;
    font-family:Impact;
}
#Projects:hover{
    background-color:gray;
}

#SkillSet {
    padding: 12px;
    width: 35%;
    float: left;
    background-color: white;
    font-size:20px;
    font-family:Impact;
}
#SkillSet:hover{
    background-color:gray;
}
.row{
    width:100%;
}
#text{
    padding:20px;
    margin: 10px;
    line-height: 20px;
    font-size:150%;
    float:right;
    font-weight:bold;
}
