body {
    background-color: lightgray;
}
h1{
    font-size: 300%;
    color:black;
    text-align: center;
}
img{
   position:center;
   width: 25%;
   height: 25%;
   float:left;
}
#AboutMe{
    padding:10px;
    text-align:center;
    display:inline;
    
}
#EmpHistory {
    padding: 10px;
    position:center;
    display:inline;
}
#Projects{
    padding:10px;
    position:center;
    display:inline;
}
#SkillSet{
    padding:20px;
    text-align:center;
    display:inline;
}
    



